.content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  position: relative;
  padding-bottom: 10px;
  background-color: #fff;
}

.title-button {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.emoji {
  margin-left: 8px;
}

.button-wrap {
  margin-top: 10px;
}

.paragraph-list {
  list-style-type: decimal !important;
}