@import '~antd/dist/antd.css';

.App {
  padding-bottom: 40px;
}

.App-link {
  color: #61dafb;
}

.App-img {
  display: block;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #3333334d;
}